<h1>Editing job</h1>

<% form_for(@dashboard) do |f| %>
  <%= f.error_messages %>
<fieldset>
  <legend>Edit Your Details</legend>
  <br />
  <br />
  <div class="form_row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form_row">
    <%= f.label :description %>
    <%= f.text_area :description, :size => "35" %>
  </div>
  <div class="form_row">
    <%= f.label :country %>
     <%= f.select(:country_id, Country::NAMES, {:prompt => "#{@dashboard.country.name}" }) %>
  </div>
  <div class="form_row">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="form_row">
    <%= f.label :type %>
     <%= f.select(:type_id, Type::NAMES, {:prompt => "#{@dashboard.type.name}" }) %>
  </div>
  <div class="form_row">
    <%= f.label :currency %>
    <%= f.select(:currency_id, Currency::NAMES, { :prompt => "#{@dashboard.currency.name}" }) %>
  </div>
  <div class="form_row">
    <%= f.label :rate %>
    <%= f.select(:rate_id, Rate::NAMES, { :prompt => "#{@dashboard.rate.name}" }) %>
  </div>
 <div class="form_row">
    <%= f.label :start_date %>&nbsp;
     <span id='cds_value1' ><%= @dashboard.start_date %></span>
    <%= f.calendar_date_select :start_date, :hidden => "true", :onchange => "$('cds_value1').update($F(this));", :valid_date_check => "date.stripTime() >= (new Date()).stripTime()" %>

  </div>
  <div class="form_row">
    <%=  f.label :end_date %>&nbsp;
    <span id='cds_value2'><%= @dashboard.end_date %></span>
    <%= f.calendar_date_select :end_date, :hidden => "true", :onchange => "$('cds_value2').update($F(this));", :valid_date_check => "date.stripTime() >= (new Date()).stripTime()" %>
  </div>
  <div class="form_row">
    <%= f.submit 'Update', :class=>"submit" %>
  </div>
  </fieldset>
<% end %>

<%= link_to 'Show', admin_dashboard_url(@dashboard) %> |
<%= link_to 'Back', admin_dashboard_index_path %>