<fieldset>
<br />
<div id ="searchwrapper">
  <% form_tag '/admin/dashboard', :method => :get do %>
    <%= label_tag 'search', 'Search'  %>
    <%= text_field_tag :search %>
    <%= submit_tag 'Go' %>
  <% end %>
</div>

<h1>Listing jobs</h1>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <th width="10">Title</th>
    <th width="20">Description</th>
    <th width="20">Country</th>
    <th width="10">City</th>
    <th width="10">Type</th>
    <th width="20">Currency</th>
    <th width="20">Rate</th>
    <th width="20">Start date</th>
    <th width="20">End date</th>
    <th width="30">Skills</th>
    <th width="10">Edit</th>
    <th width="10">Delete</th>
  </tr>

<%  @dashboards.each do |job| %>
  <tr>
    <td><%=h link_to job.title, admin_dashboard_url(job) %></td>
    <td><%=h job.description %></td>
    <td><% if job.country_id.eql?(nil) %>
        No Country selected
        <% else %>
          <%=h job.country.name %>
        <% end %></td>
    <td><%=h job.city %></td>
    <td><% if job.type_id.eql?(nil) %>
        No Type selected
        <% else %>
        <%=h job.type.name %>
        <% end %></td>
    <td><% if job.currency_id.eql?(nil) %>
        No Currency selected
        <% else %>
        <%=h job.currency.name %>
        <% end %></td>
    <td><% if job.rate_id.eql?(nil) %>
        No Rate selected
        <% else %>
        <%=h job.rate.name %>
        <% end %></td>
    <td><%=h job.start_date %></td>
    <td><%=h job.end_date %></td>
    <td><% job.skills.each do |t| %>
         <%=h t.name %>
         <% end %></td>
    
    <td><%= link_to 'Edit', edit_admin_dashboard_url(job) %></td>
    <td><%= link_to 'Destroy', admin_dashboard_url(job), :confirm => 'Are you sure?', :method => :delete %></td>
   
  </tr>
<% end %>

</table>

<br />
<b><%= will_paginate @dashboards %></b>
<div class="clear"></div>
</fieldset>

