<fieldset>
  <legend>Job Detail</legend>
  <br /><br />
<div class="form_row">
  <b>Title:</b>
  <%=h @dashboard.title %>
</div>

<div class="form_row">
  <b>Description:</b>
  <%=h @dashboard.description %>
</div>

<div class="form_row">
  <b>Country:</b>
  <% if @dashboard.country_id.eql?(nil) %>
  No Country selected
  <% else %>
  <%=h @dashboard.country.name %>
  <% end %>
</div>

<div class="form_row">
  <b>City:</b>
  <%=h @dashboard.city %>
</div>

<div class="form_row">
  <b>Type:</b>
  <% if @dashboard.type_id.eql?(nil) %>
  No Type selected
  <% else %>
  <%=h @dashboard.type.name %>
  <% end %>
</div>

<div class="form_row">
  <b>Currency:</b>
  <% if @dashboardb.currency_id.eql?(nil) %>
  No Currency selected
  <% else %>
  <%=h @dashboard.currency.name %>
  <% end %>
</div>

<div class="form_row">
  <b>Rate:</b>
  <% if @dashboard.rate_id.eql?(nil) %>
  No Rate selected
  <% else %>
  <%=h @dashboard.rate.name %>
  <% end %>
</div>

<div class="form_row">
  <b>Start date:</b>
  <%=h @dashboard.start_date %>
</div>

<div class="form_row">
  <b>End date:</b>
  <%=h @dashboard.end_date %>
</div>

<div class="form_row">
  <b>Skills:</b>
  <% @dashboard.skills.each do |t| %>
  <%=h t.name %>
  <% end %>
</div>
</fieldset>

<fieldset>
  <legend>List of Job Applicants</legend>
  <br /><br />
  <% if @applicants.blank? %>
  <b>There Are No Applicants Applied For This Job Yet.</b>
  <% else %>
  <% @applicants.each do |applicant| %>
  <br/><br/>
  <div class="form_row">
    <b>Email:</b>
    <%=h applicant.email %>
  </div>
  <div class="form_row">
    <b>Comment:</b>
    <%=h applicant.comment %>
  </div>
  <div class="form_row">
    <b>Linkedin URL:</b>
    <%=h applicant.url %>
  </div>
  <% end %>
  <% end %>
  </fieldset>

<%#= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', admin_dashboard_index_path %>