<h1>Editing job</h1>

<% form_for(@job) do |f| %>
  <%= f.error_messages %>
<fieldset>
  <legend>Edit Your Details</legend>
  <br />
  <br />
  <div class="form_row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form_row">
    <%= f.label :description %>
    <%= f.text_area :description, :size => "35" %>
  </div>
  <div class="form_row">
    <%= f.label :country %>
    <% if @job.country_id.eql?(nil) %>
      <%= f.select(:country_id, Country::NAMES, {:prompt => "Select Country" }) %>
    <% else %>
     <%= f.select(:country_id, Country::NAMES, {:prompt => "#{@job.country.name}" }) %>
    <% end %>
  </div>
  <div class="form_row">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div class="form_row">
    <%= f.label :type %>
    <% if @job.type_id.eql?(nil) %>
      <%= f.select(:type_id, Type::NAMES, {:prompt => "Select Type" }) %>
    <% else %>
     <%= f.select(:type_id, Type::NAMES, {:prompt => "#{@job.type.name}" }) %>
    <% end %>
  </div>
  <div class="form_row">
    <%= f.label :currency %>
    <% if @job.currency_id.eql?(nil) %>
    <%= f.select(:currency_id, Currency::NAMES, { :prompt => "Select Curency" }) %>
    <% else %>
    <%= f.select(:currency_id, Currency::NAMES, { :prompt => "#{@job.currency.name}" }) %>
    <% end %>
  </div>
  <div class="form_row">
    <%= f.label :rate %>
     <% if @job.rate_id.eql?(nil) %>
    <%= f.select(:rate_id, Rate::NAMES, { :prompt => "Select Rate" }) %>
    <% else %>
    <%= f.select(:rate_id, Rate::NAMES, { :prompt => "#{@job.rate.name}" }) %>
    <% end %>
  </div>
  <div class="form_row">
    <%= f.label :start_date %>&nbsp;
     <span id='cds_value1' ><%= @job.start_date.strftime("%B %d, %Y") %></span>
    <%= f.calendar_date_select :start_date, :hidden => "true", :onchange => "$('cds_value1').update($F(this));", :valid_date_check => "date.stripTime() >= (new Date()).stripTime()" %>
    
  </div>
  <div class="form_row">
    <%=  f.label :end_date %>&nbsp;
    <span id='cds_value2'><%= @job.end_date.strftime("%B %d, %Y") %></span>
    <%= f.calendar_date_select :end_date, :hidden => "true", :onchange => "$('cds_value2').update($F(this));", :valid_date_check => "date.stripTime() >= (new Date()).stripTime()" %>
  </div>
  <div class="form_row">
    <%= f.submit 'Update', :class=>"submit" %>
  </div>
  </fieldset>
<% end %>

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>