<h1>Listing jobs</h1>
<fieldset>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <th width="10">Title</th>
    <th width="20">Description</th>
    <th width="20">Country</th>
    <th width="10">City</th>
    <th width="10">Type</th>
    <th width="20">Currency</th>
    <th width="20">Rate</th>
    <th width="20">Start date</th>
    <th width="20">End date</th>
    <th width="30">Skills</th>
    <th width="10">Status</th>
    <th width="10">Edit</th>
    <th width="10">Delete</th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    
    <td><%=h link_to job.title, job %></td>
    <td><%=h job.description %></td>
    <td><% if job.country_id.eql?(nil) %>
        No Country selected
        <% else %>
          <%=h job.country.name %>
        <% end %></td>
    <td><%=h job.city %></td>
    <td><% if job.type_id.eql?(nil) %>
        No Type selected
        <% else %>
        <%=h job.type.name %>
        <% end %></td>
    <td><% if job.currency_id.eql?(nil) %>
        No Currency selected
        <% else %>
        <%=h job.currency.name %>
        <% end %></td>
    <td><% if job.rate_id.eql?(nil) %>
        No Rate selected
        <% else %>
        <%=h job.rate.name %>
        <% end %></td>
    <td><%=h job.start_date %></td>
    <td><%=h job.end_date %></td>
    <td><% job.skills.each do |t| %>
         <%=h t.name %>
         <% end %></td>
    <td><% if job.status? %>
        Active
        <% else %>
        Close
        <% end %></td>
        <td>
        <% if job.status? %>
        <%= link_to "Apply", new_job_application_url(job) %>
          <% end %>
        </td>

  </tr>
<% end %>
 
</table>

<br />
<b><%= will_paginate @jobs %></b>
<div class="clear"></div>
</fieldset>
<%#= link_to 'New job', new_job_path %>
